$base-color: teal;
$secondary-color: white;
$error-color: red;
$success-color: green;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Courier New', Courier, monospace;
}

.app_title {
	width: fit-content;
	margin: 0 auto;
	text-align: center;
	color: $base-color;
}
.todo {
	display: flex;
	flex-direction: column;
	gap: 32px;
	max-width: 1024px;
	margin: 0 auto;
	padding: 1rem;
	border: solid $base-color 1px;
	border-radius: 10px;
	color: $base-color;

	@media only screen and (min-width: 1024px) {
		flex-direction: row;
	}

	&__list {
		flex: 0 0 100%;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-top: 15px;
		list-style-type: none;

		@media only screen and (min-width: 1024px) {
			flex: 1;
		}
	}

	&__form {
		flex: 0 0 100%;
		display: flex;
		flex-direction: column;
		gap: 16px;
		@media only screen and (min-width: 1024px) {
			flex-basis: 33%;
		}

		button {
			width: 33%;
			padding: 8px 4px;
			border-radius: 4px;
			border: solid 1px $base-color;
			color: $base-color;
			background-color: $secondary-color;
			font-weight: bold;
			cursor: pointer;

			&:hover {
				background-color: #eee;
			}
		}
	}

	&__input_container {
		display: flex;
		flex-direction: column;
		gap: 4px;

		label {
			font-size: small;
		}

		input {
			width: 100%;
			padding: 8px;
			border-radius: 4px;
			border: none;
			outline: 1px solid $base-color;
		}
	}

	&__delete_btns_container {
		display: flex;
		gap: 16px;
	}

	&__task {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px;
		border: 1px solid $base-color;
		border-radius: 4px;

		&--completed .todo__task_title {
			text-decoration: line-through;
			text-decoration-color: red;
			color: rgba($color: $base-color, $alpha: 0.5);
		}
	}

	&__task_actions {
		display: flex;
		gap: 16px;
	}

	&__remove_task_btn {
		font-size: 24px;
		cursor: pointer;

		&:hover {
			color: red;
		}
	}

	&__task_completed {
		width: 24px;
		height: 24px;
		-webkit-appearance: none;
		border: 1px solid $base-color;
		border-radius: 50%;
		cursor: pointer;

		&:checked {
			background-color: $error-color;
		}
	}

	&__no_tasks_msg {
		flex-basis: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__error {
		font-weight: 500;
		color: $error-color;
	}

	&__toast {
		position: fixed;
		top: 16px;
		right: 16px;
		z-index: 10;
		max-width: 250px;
		padding: 16px;
		color: $secondary-color;

		&--success {
			background-color: $success-color;
		}

		&--fail {
			background-color: $error-color;
		}
	}
}
